body {
    font-family: 'DM Serif Display', serif;
    font-size: 12pt;
    max-width: 100vw;
}

main {
    padding: 0 3%;
    display: flex;
    justify-content: center;
}

.header-left {
    margin-left: 3%;
}

.header-right {
    margin: 0 auto;
}

.narrow {
    max-width: 60rem;
}

.avatar {
    margin: 2em auto;
    height: auto;
    border-radius: 18.5%;
    border: #FFE3D8 0.5em solid;
    max-width: 80vw;
    max-height: 20rem;
    box-shadow: #161616 0.3em 0.3em 0.8em;
}

.img-container {
    max-width: 100%;
    margin: 2em auto;
    display: flex;
}

.text-image {
    border-radius: 2%;
    border: #FFE3D8 0.2em solid;
    height: auto;
    width: 100%;
    box-shadow: #161616 0.3em 0.3em 0.8em;
}

.smaller {
    max-width: 400px;
}

/* Colours: */

    /* || Color Palette:
        - Deep Blue: #0A043C
        - Mid Blue: #03506F
        - Light Grey: #BBBBBB
        - Beige: #FFE3D8
    */

.deep-blue-text {
    color: #0A043C;
}

.deep-blue-bg {
    background-color: #0A043C;
}

.mid-blue-text {
    color: #03506F;
}

.mid-blue-bg {
    background-color: #03506F;
}

.light-grey-text {
    color: #BBBBBB;
}

.light-grey-bg {
    background-color: #BBBBBB;
}

.beige-text {
    color: #FFE3D8
}

.beige-bg {
    background-color: #FFE3D8
}

/* Link styles - to override Bootstrap's defaults */

.light-link a:link, .light-link a:visited, .light-link a:hover, .light-link a:active { color: #FFE3D8; }

.dark-link a:link, .dark-link a:visited, .dark-link a:hover, .dark-link a:active { color: #0A043C; }

.footer-link {
    margin: 0 1rem;
    font-size: 11pt;
    text-decoration: none;
}

.dropdown-item:focus, .dropdown-item:active {
    background-color: transparent;
}

/* Small screens: */

@media all and (max-width: 1000px) {
    /* remove margin in narrow class as it looks bad on mobile */
    .narrow {
        margin: 0 0% !important;
    }
}

/* Grid layout for skills.html: */

.grid-div {
    height: 400px;
    width: 90vw;
    max-width: 600px;

    text-align: center;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.grid-div-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.grid-div-inner > div {
    padding: 5%;
}

#b-1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
#b-2 {
    grid-column: 3 / span 2;
    grid-row: 1 / span 3;
}
#b-3 {
    grid-column: 5 / span 1;
    grid-row: 1 / span 3;
}
#b-4 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}
#b-5 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}
#b-6 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
}
#b-7 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 2;
}

#b-8 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 2;
}
#b-9 {
    grid-column: 4 / span 2;
    grid-row: 4 / span 2;
}