body {
    margin: 0;

    background-color: black;
    color: white;

    font-family: 'Comfortaa', cursive;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.slide-links a {
    font-size: smaller;
}

#navbar,
#footer,
#navbar-mobile {
    height: 10vh;
    width: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.501);
}

#navbar,
#navbar-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-link {
    margin: 0 5%;
}

.navbar-link:hover {
    cursor: pointer;
}

#footer {
    bottom: 0;
    height: 5vh;
    text-align: center;
}

#footer a {
    margin: 0 5%;
}

#navbar-mobile {
    display: none;
}

#main-container {
    overflow: scroll;
    height: 100vh;
    scroll-snap-type: y mandatory;
}

.full-page-screen {
    height: 100vh;
    width: 100vw;

    scroll-snap-align: start;

    display: flex;
    flex-flow: column;
}

.content-container {
    flex: 1;
    overflow: auto;
    width: auto;
    margin: 20% 7.5%;
    min-height: 70vh;
}

#landing-container {
    display: flex;
    flex-flow: column nowrap;
}

.landing-div {
    flex: 1;
}

#profile-img {
    margin: 10% 10% 0% 10%;
    height: auto;
    border-radius: 5%;
    border: 0.2rem solid white;
    max-width: 200px;
}

#projects-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.slider-icons {
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    width: 100%;
    max-width: 575px;
}

.icon {
    height: auto;
    max-height: 50%;
    width: 12.5%;
    flex-grow: 1;
    background-color: black;
    border-radius: 0.5em;
}

.icon-img {
    max-height: 100%;
    color: black;
    background: transparent;
    border-radius: 0.5em;
    background: radial-gradient(white, black 100%);
}

.slider {
    height: 80%;
    max-width: 100%;
    display: flex;
    align-items: stretch;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slider::-webkit-scrollbar,
.slide-body-content::-webkit-scrollbar {
    display: none;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    margin: 0 25%;
    height: auto;

    display: flex;
    flex-flow: column nowrap;

    -webkit-overflow-scrolling: touch;
    scroll-snap-align: start;
    scroll-behavior: smooth;
}

.slide>div {
    text-align: center;
    font-size: smaller;
}

.skills-slide {
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

.slide-title,
.slide-stack,
.slide-links {
    flex: 1;
}

.slide-body {
    flex: 7;
    max-height: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.slide-body-content {
    margin: 0 5%;
    width: 100%;
    max-width: 400px;
    text-align: center;
    display: flex;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.slide-body-content-item {
    height: 100%;
    width: 100%;
    max-width: 400px;
    margin: 0 50px;
    flex-shrink: 0;
    scroll-snap-align: start;
}

.slide-body-content-item-img {
    max-width: 100%;
    max-height: 100%;
}

.slide-body-btn {
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
}

.slide-body-btn:hover {
    cursor: pointer;
} 

.content-container-vertical {
    display: flex;
    flex-flow: column wrap;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical {
    flex-flow: column wrap;
}

.half-div {
    max-height: 50%;
    flex: 2;
}

.quarter-div {
    max-height: 25%;
    flex: 1;
}

.contained-image {
    max-height: 80%;
    max-width: 100%;
}

.inner {
    margin: 0 10%;
    font-size: smaller;
    text-align: center;
}

@media (min-width: 800px) {
    .content-container {
        margin: 5% 20%;
    }

    /* .hello-text{
        font-size: larger;
    } */

    #hello-line {
        margin-top: 5%;
        /* font-size: larger; */
    }
}

@media (min-height: 800px) {
    .content-container {
        margin: 30% 7.5%;
    }
}

@media (min-height: 1100px) {
    .content-container {
        margin: 10% 20%;
    }

    .left-align {
        text-align: left;
    }

    .right-align {
        text-align: right;
    }

    .hello-text {
        font-size: larger;
        margin-left: 0;
        margin-right: 0;
    }

    #hello-line {
        font-size: x-large;
    }
}

/* credit: https://codepen.io/nxworld/pen/OyRrGy */
#down-arrow,
#right-arrow {
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-top: 20%;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#down-arrow:hover,
#right-arrow:hover {
    cursor: pointer;
}

#right-arrow {
    position: relative;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    left: 45%;
    top: -25%;
}

.close {
    float: right;
    height: 5%;
    width: 5%;
    padding: 2.5%;
    font-size: xx-large;
    font-weight: 50;
}

.about-content {
    margin-top: 10%;
}

.about-button:hover {
    cursor: pointer;
}

.show-mobile {
    display: none;
}

#mobile-links {
    display: none;
}

@media (max-width: 500px) {
    .main-container {
        max-height: 80vh;
    }

    .content-container {
        margin: 20% 2.5% 25% 2.5%;
        font-size: x-small;
    }

    .icon {
        max-width: 10%;
        padding: 1%;
    }

    #navbar,
    #footer {
        display: none;
    }

    #navbar-mobile {
        display: flex;
        height: 5vh;
        font-size: x-small;
    }

    #mobile-links {
        display: block;
    }

    .show-mobile {
        display: block;
    }

    .about-content {
        margin-top: 15%;
        margin-bottom: -15%;
    }
}

.bold-highlighted {
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(0, 166, 255);
}

.highlighted {
    text-shadow: 1px 1px 1px rgb(0, 166, 255);
}

.hidden {
    display: none;
}